<a href="https://colab.research.google.com/github/FaithNanzala/WEEK4-IP-/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_11_Faith_Nanzala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Data Cleaning and Analysis to Understand Electric Car Usage in Paris**

1.0 Importing our Libraries

In [ ]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

1.1 Reading the Dataset from our CSV file

In [ ]:
Autolib2 = pd.read_csv('/content/Autolib_dataset (2).csv') 
Autolib2

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

1.2 Previewing our Dataset

In [ ]:
# Let's preview the first 10 rows of our data
# 
Autolib2.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [ ]:
# Let's preview the last 10 rows of our data
# 
Autolib2.tail(10)

                                           Address  Cars  ...  hour  minute
4990                    47 boulevard de l'HÃ´pital     0  ...    21      13
4991  56 avenue du MarÃ©chal de Lattre de Tassigny     5  ...    20      43
4992                               3 avenue d'Ivry     0  ...    23       1
4993                    6 avenue Charles-de-Gaulle     6  ...     4      43
4994                              15 rue de Rocroy     0  ...    20      49
4995                           8 avenue MÃ©nelotte     2  ...    11      26
4996                             37 rue de Dantzig     4  ...    16      56
4997                                142 rue du Bac     1  ...     7       1
4998                   2 avenue du Val de Fontenay     2  ...    17      27
4999                           5 Rue Henry Brisson     4  ...    10       2

[10 rows x 25 columns]

1.3 Accessing Information about our Dataset

In [ ]:
# Getting to know more about the dataset by accessing its information
# 
Autolib2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

1.4 Cleaning our Dataset

1.4.1) Validity

In [ ]:
# Procedure 1: Irrelevant Observation
# Data Cleaning Action: Dropping columns 
# Explanation:We do not need them or they do not in fit the context of the problem

Autolib2.drop(['Displayed comment', 'ID', 'Geo point','Address', 'Cars', 'Subscription status', 'year', 'Charge Slots'], axis = 1, inplace = True)
Autolib2

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour minute
0                   0               0                   0  ...   8   11     43
1                   6               0                   0  ...   6    7     24
2                   3               0                   2  ...   3   20     14
3                   3               1                   0  ...   4    4     37
4                   3               0                   0  ...   8   17     23
...               ...             ...                 ...  ...  ..  ...    ...
4995                2               0                   0  ...   6   11     26
4996                4               0                   0  ...   4   16     56
4997                1               0                   0  ...   1    7      1
4998                2               0                   0  ...   4   17     27
4999                4               0                   0  ...   8   10      2

[5000 rows x 17 columns]

In [ ]:
# Procedure 2: Outliers
# Data Cleaning Action: checking for outliers using IQR Scores
# Explanation:


Q1 = Autolib2.quantile(0.25)
Q3 = Autolib2.quantile(0.75)

IQR = Q3 - Q1


(Autolib2 < (Q1 - 1.5 * IQR)) |(Autolib2 > (Q3 + 1.5 * IQR))


# The two commented lines of code below can be used to drop the outliers but for now I will not drop them

# Autolib2_no_outlier = Autolib2[~((Autolib2 < (Q1 - 1.5 * IQR)) | (Electric > (Q3 + 1.5 * IQR))).any(axis = 1)]
#Autolib2_no_outlier

      Bluecar counter  Charging Status   City  ...   hour  minute  month
0               False            False  False  ...  False   False  False
1               False            False  False  ...  False   False  False
2               False            False  False  ...  False   False  False
3               False            False  False  ...  False   False  False
4               False            False  False  ...  False   False  False
...               ...              ...    ...  ...    ...     ...    ...
4995            False            False  False  ...  False   False  False
4996            False            False  False  ...  False   False  False
4997            False            False  False  ...  False   False  False
4998            False            False  False  ...  False   False  False
4999            False            False  False  ...  False   False  False

[5000 rows x 17 columns]

1.4.2 Accuracy

1.4.3 Completeness

In [ ]:
# Procedure 1: Missing values
# Explanation:Checking how many missing values there are across each column

Autolib2.isnull().any()

Bluecar counter       False
Utilib counter        False
Utilib 1.4 counter    False
Charging Status       False
City                  False
Kind                  False
Postal code           False
Public name           False
Rental status         False
Scheduled at           True
Slots                 False
Station type          False
Status                False
month                 False
day                   False
hour                  False
minute                False
dtype: bool

In [ ]:
# Finding the total count of the missing values
Autolib2.isnull().sum().sum()

4953

1.4.4 Consistency

In [ ]:
# Procedure 1: Duplicates
# Data Cleaning Action: Drop/remove the duplicates
# Explanation: They are repetitions in our dataset


Autolib2[Autolib2.duplicated()]


# dropping the duplicates

Autolib21 = Autolib2.drop_duplicates()
 
# checking for non duplicates

Autolib21.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour minute
0                0               0                   0  ...   8   11     43
1                6               0                   0  ...   6    7     24
2                3               0                   2  ...   3   20     14
3                3               1                   0  ...   4    4     37
4                3               0                   0  ...   8   17     23

[5 rows x 17 columns]

1.4.5 Uniformity

In [ ]:
# Procedure 1: None
# Data Cleaning:None
# Explanation:None

# Hint:
# To compute usage, we will need to understand we have to join successive 
# (in time) measures/counters for a given station, as the difference will tell whether a car was picked up, returned, or nothing happened.

# We are creating a new column where we find the difference in the number of bluecars at the station/counter

Autolib21['Bluecar_Diff'] = Autolib21['Bluecar counter'].diff()
Autolib21.head(10)

   Bluecar counter  Utilib counter  ...  minute Bluecar_Diff
0                0               0  ...      43          NaN
1                6               0  ...      24          6.0
2                3               0  ...      14         -3.0
3                3               1  ...      37          0.0
4                3               0  ...      23          0.0
5                0               0  ...       2         -3.0
6                0               0  ...      20          0.0
7                3               1  ...      13          3.0
8                1               0  ...      58         -2.0
9                6               0  ...       2          5.0

[10 rows x 18 columns]

1.5 Answering Research Questions

In [ ]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar)
#in the city of Paris over the month of April 2018.

Autolib21_paris = Autolib21[Autolib21['City'] =='Paris'] 

Autolib21_paris.head(10)

    Bluecar counter  Utilib counter  ...  minute Bluecar_Diff
0                 0               0  ...      43          NaN
1                 6               0  ...      24          6.0
3                 3               1  ...      37          0.0
4                 3               0  ...      23          0.0
5                 0               0  ...       2         -3.0
6                 0               0  ...      20          0.0
8                 1               0  ...      58         -2.0
9                 6               0  ...       2          5.0
10                0               0  ...      39         -6.0
12                5               1  ...      22          4.0

[10 rows x 18 columns]

In [ ]:
#What is the most popular hour for returning cars?

Autolib21_paris[Autolib21_paris['Bluecar_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
3     49
12    48
10    48
6     46
8     44
21    43
11    42
19    42
15    42
18    40
9     40
0     39
22    38
2     38
1     38
16    37
5     37
23    35
13    33
7     33
17    33
4     31
20    27
14    25
Name: hour, dtype: int64

In [ ]:
#What station is the most popular?
#Overall?
Autolib21_paris[(Autolib21_paris['Kind'] == 'STATION') & (Autolib21_paris['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Public name, Length: 518, dtype: int64

In [ ]:
# What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

Autolib21_paris[(Autolib21_paris['Kind'] == 'STATION') & (Autolib21_paris['Status'] == 'ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

# from the Autolib21 dataframe 75015 == Paris/Suffren/2 # therefore NO it doesn't

Postal code
75015    220
75016    197
75017    180
75011    155
75013    155
75008    150
75020    149
75012    138
75019    134
75014    128
75018    120
75007     99
75010     98
75009     93
75005     85
75006     74
75004     58
75003     55
75002     54
75001     43
75112      6
75116      5
Name: Postal code, dtype: int64

In [ ]:
# What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

#At the most popular picking hour?

Autolib21_paris[(Autolib21_paris['Kind'] == 'STATION') & (Autolib21_paris['Status'] == 'ok') & (Autolib21_paris['hour'] == 4)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75016    11
75015     9
75017     8
75005     8
75011     8
75013     7
75007     6
75008     5
75012     5
75009     5
75020     4
75004     4
75010     4
75018     4
75006     3
75014     2
75003     2
75019     1
75002     1
75001     1
Name: Postal code, dtype: int64

Utilib counter

In [ ]:
# Creating a new column where we find the difference in the number of Utilib at the station/counter

Autolib21['Utilib_Diff'] = Autolib21['Utilib counter'].diff()
Autolib21.head()

   Bluecar counter  Utilib counter  ...  Bluecar_Diff Utilib_Diff
0                0               0  ...           NaN         NaN
1                6               0  ...           6.0         0.0
2                3               0  ...          -3.0         0.0
3                3               1  ...           0.0         1.0
4                3               0  ...           0.0        -1.0

[5 rows x 19 columns]

In [ ]:
# Identify the most popular hour of the day for picking up a shared electric car (Utilib) in the city of Paris over the month of April 2018

Autolib21_paris = Autolib21[Autolib21['City'] =='Paris'] 

Autolib21_paris.head(10)

    Bluecar counter  Utilib counter  ...  Bluecar_Diff Utilib_Diff
0                 0               0  ...           NaN         NaN
1                 6               0  ...           6.0         0.0
3                 3               1  ...           0.0         1.0
4                 3               0  ...           0.0        -1.0
5                 0               0  ...          -3.0         0.0
6                 0               0  ...           0.0         0.0
8                 1               0  ...          -2.0        -1.0
9                 6               0  ...           5.0         0.0
10                0               0  ...          -6.0         0.0
12                5               1  ...           4.0         1.0

[10 rows x 19 columns]

In [ ]:
# What is the most popular hour for returning cars?

Autolib21_paris[Autolib21_paris['Utilib_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
6     12
11     9
17     9
8      9
14     8
10     7
21     7
18     7
7      7
15     6
2      5
3      5
5      5
0      5
12     5
13     5
9      4
16     4
22     3
4      3
19     3
20     3
1      3
23     1
Name: hour, dtype: int64

In [ ]:
# What station is the most popular? At the most popular picking hour?
Autolib21_paris[(Autolib21_paris['Kind'] == 'STATION') & (Autolib21_paris['Status'] == 'ok') & (Autolib21_paris['hour'] == 5)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/ChÃ¢teau Landon/24        3
Paris/Jean de la Fontaine/77    2
Paris/Valmy/107                 2
Paris/Lourmel/79                2
Paris/Laperrine/15              2
                               ..
Paris/Poteau/40                 1
Paris/PyrÃ©nÃ©es/231            1
Paris/PÃ©trarque/2              1
Paris/Quatre Septembre/26       1
Paris/25 AoÃ»t 1944/8           1
Name: Public name, Length: 89, dtype: int64

In [ ]:
#  What postal code is the most popular for picking up Utilib Counter? Does the most popular station belong to that postal code?

# At the most popular picking hour?

Autolib21_paris[(Autolib21_paris['Kind'] == 'STATION') & (Autolib21_paris['Status'] == 'ok') & (Autolib21_paris['hour'] == 5)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75016    11
75015    10
75008    10
75010     9
75012     9
75014     8
75020     6
75017     6
75007     5
75011     5
75018     5
75004     4
75005     3
75002     3
75019     2
75009     2
75013     2
75003     2
Name: Postal code, dtype: int64

Utilib 1.4 Counter

In [ ]:
# Creating a new column where we find the difference in the number of Utilib at the station/counter

Autolib21['Utilib1.4_Diff'] = Autolib21['Utilib 1.4 counter'].diff()
Autolib21.head()

   Bluecar counter  Utilib counter  ...  Utilib_Diff Utilib1.4_Diff
0                0               0  ...          NaN            NaN
1                6               0  ...          0.0            0.0
2                3               0  ...          0.0            2.0
3                3               1  ...          1.0           -2.0
4                3               0  ...         -1.0            0.0

[5 rows x 20 columns]

In [ ]:
# Identify the most popular hour of the day for picking up a shared electric car (Utilib) in the city of Paris over the month of April 2018

Autolib21_paris = Autolib21[Autolib21['City'] =='Paris'] 

Autolib21_paris.head(10)

    Bluecar counter  Utilib counter  ...  Utilib_Diff Utilib1.4_Diff
0                 0               0  ...          NaN            NaN
1                 6               0  ...          0.0            0.0
3                 3               1  ...          1.0           -2.0
4                 3               0  ...         -1.0            0.0
5                 0               0  ...          0.0            0.0
6                 0               0  ...          0.0            0.0
8                 1               0  ...         -1.0            0.0
9                 6               0  ...          0.0            0.0
10                0               0  ...          0.0            0.0
12                5               1  ...          1.0            0.0

[10 rows x 20 columns]

In [ ]:
# What is the most popular hour for returning cars?

Autolib21_paris[Autolib21_paris['Utilib1.4_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
9     17
17    15
5     15
21    14
22    14
10    13
6     12
15    12
3     12
19    11
16    11
1     11
12    11
20    10
18    10
23     9
11     9
7      9
13     9
8      8
4      8
14     8
0      7
2      6
Name: hour, dtype: int64

In [ ]:
# What station is the most popular? At the most popular picking hour?

Autolib21_paris[(Autolib21_paris['Kind'] == 'STATION') & (Autolib21_paris['Status'] == 'ok') & (Autolib21_paris['hour'] == 5)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/ChÃ¢teau Landon/24        3
Paris/Jean de la Fontaine/77    2
Paris/Valmy/107                 2
Paris/Lourmel/79                2
Paris/Laperrine/15              2
                               ..
Paris/Poteau/40                 1
Paris/PyrÃ©nÃ©es/231            1
Paris/PÃ©trarque/2              1
Paris/Quatre Septembre/26       1
Paris/25 AoÃ»t 1944/8           1
Name: Public name, Length: 89, dtype: int64

In [ ]:
#  What postal code is the most popular for picking up Utilib Counter? Does the most popular station belong to that postal code?

# At the most popular picking hour?

Autolib21_paris[(Autolib21_paris['Kind'] == 'STATION') & (Autolib21_paris['Status'] == 'ok') & (Autolib21_paris['hour'] == 5)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75016    11
75015    10
75008    10
75010     9
75012     9
75014     8
75020     6
75017     6
75007     5
75011     5
75018     5
75004     4
75005     3
75002     3
75019     2
75009     2
75013     2
75003     2
Name: Postal code, dtype: int64